body {
    color: white;
    background: rgb(46, 42, 65);
    text-align: left;
    margin: 10px;
    font-family: "Press Start 2P", system-ui;
    font-style: normal;
}

header {
    background: rgb(24, 21, 39);
    border-bottom: solid 5px rgb(0, 0, 0);
    padding: 20px;
    font-size: 32px;
    margin: 0px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

h1 {
    font-size:400%;
    padding: 10px;
    margin-top: 10px;
}

h2 {
    font-size: 300%;
    margin: 10px;
}

h3 {
    font-size: 200%;
    margin: 10px;
}


li {
    font-size: 100%;
    margin: 10px;
}

p{
    font-size: 25px;
    margin: 10px;
}

.itl {
    font-style: italic;
}

.utitle {
    height: 100%;
}
