body {
    color: white;
    background: rgb(8, 6, 20);
    margin: 0px;
    text-align: left;
}

header {
    border-bottom: solid 5px rgb(89, 115, 228);
    padding: 10px;
    font-size: 30px;
    text-decoration: white;
}

h1 {
    font-size: 15px;
}

h2 {
    font-size: 15px;
}

p {
    font-size: 5px;
}

li {
    font-size: 5px;
}


.itl {
    font-style: italic;
}

.icon {
    width: 30%;
}
