body {
    color: white;
    background: rgb(8, 6, 20);
    margin: 20px;
    text-align: left;
}

header {
    color: white;
    border-bottom: solid 5px rgb(89, 115, 228);
    padding: 10px;
    font-size: 20px;
    text-decoration: none;
}

p {
    color: white;
}

.itl {
    font-style: italic;
}
.icon {
    width: 30%;
}
